body {
  background-color: rgb(255, 237, 205);
  margin-left: 160px;
  margin-right: 160px;
}
p {
  color: rgb(111, 71, 0);
  font-size: 18px;
}
h1 {
  color: rgb(91, 54, 0);
  font-size: 75px;
  padding: 7px, 7px, 7px, 7px;
}
h2 {
  color: rgb(91, 54, 0);
  font-size: 48px;
  padding: 5px, 5px, 5px, 5px;
}
h3 {
  color: rgb(91, 54, 0);
}
figure {
  border: 2px rgb(91, 54, 0) solid;
  padding: 4px;
  margin: auto;
}
figcaption {
  background-color: rgb(91, 54, 0);
  color: rgb(255, 237, 205);
  font-style: italic;
  padding: 2px;
  text-align: center;
}
