body {
  background-color: rgb(255, 237, 205);
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 120px;
  margin-bottom: 120px;
}
p {
  color: rgb(111, 71, 0);
  font-size: 18px;
}
p em {
  color: rgb(111, 71, 0);
  font-size: 18px;
  font-weight: bold;
}
p a {
  color: rgb(0, 50, 255);
  font-size: 18px;
}
p a em {
  color: rgb(0, 50, 255);
  font-size: 18px;
  font-weight: bold;
}
h1 {
  color: rgb(91, 54, 0);
  font-size: 75px;
  padding: 7px, 7px, 7px, 7px;
}
h2 {
  color: rgb(91, 54, 0);
  font-size: 48px;
  padding: 5px, 5px, 5px, 5px;
}
h3 {
  color: rgb(91, 54, 0);
}
figure {
  border: 2px rgb(91, 54, 0) solid;
  padding: 4px;
  margin: 18px;
}
figcaption {
  background-color: rgb(91, 54, 0);
  color: rgb(255, 237, 205);
  font-style: italic;
  padding: 2px;
  text-align: center;
}
